.search-container {
    height: 100vh;
}

#search-div {
    color: black;
    background-color: white;
}

.search-input {
    width: 0;
    border: none;
}

.search-input-clicked {
    width: 250px;
    transition: width 0.5s ease-in;
}