:root {
  --mainBgColor: #282c34;
}

.bg-main-color {
  background-color: var(--mainBgColor);
}

.app-container {
  display: flex;
  background-color: var(--mainBgColor);
}

.main-content {
  width: 90%;
  height: 100vh;
  color: white;
}

/* Center vertically horizontally row direction */
.center-vh {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Center vertically horizontally column direction */
.center-vh-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small-input {
  width: 80px;
}

.block {
  display: block;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}
