.extract-pdf {
  display: flex;
  flex-direction: column;
  height: 70vh;
  padding: 30px;
  width: 80vw;
}
.form-params {
  margin: 10px;
  height: 10%;
}

.form-params * {
    margin: 10px;
}

.form-params input[type="number"] {
  width: 50px;
}

.rendered-pdf {
  margin: 15vh 10px;
  height: 90%;
}

.pdf-space{
    width: 70vw;
    height: 70vh;
}